
.all {
  
  background-color: #fffafa;
  
}
.signin{
  background-image : url(/images/loginpic.jpg)  ;
  background-position: left;
  background-size: 1200px;
  background-repeat:no-repeat;
  background-size:cover;
  background-origin:fixed ;
  
 }
  .homebackpic{
   background-image: url(/images/hand.jpg)  ;
   background-repeat:no-repeat;
   background-size:cover;
   background-origin:fixed ;
   background-position:right;

  
   animation-name: change;
   animation-duration:50s;
   animation-timing-function: ease-in-out;
   animation-delay: 0s;
   animation-iteration-count: infinite;
   animation-direction:alternate;
   
  
 }
 @keyframes change {
   0% {background-image: url(/images/hand.jpg) ;}
   50% {background-image: url(/images/taught.jpg) ;}
   100% {background-image: url(/images/signfamily.jpg) ;}
   200% {background-image: url(/images/teacher.jpg) ;}
 } 

 /* NAVBARS*/

 nav .navbar {
  height: 90px;
}
.navbar-light{
  background-color:#2B0707;
  
}
#trans{
  background: transparent;
}
.usernav .navbar-nav{
  margin-right:3rem;
}
nav.navbar-light .navbar-nav .nav-link {
  color: rgb(202, 27, 27);
  padding: 1.5rem;
  font-size: 400;
  font-weight: 600;
  
  
}
nav.navbar-light .navbar-nav .arrowdown {
  margin:2rem 0rem 0rem 1rem;
   
}
nav.navbar-light .navbar-nav .arrowdown .dropdown-item{
  height: 40px;
   
}
nav.navbar-light .navbar-nav #dropdown-basic {

 height:25px;
   
}
nav.navbar-light .navbar-nav .main-links {
  color:rgb(132, 124, 155);
  padding: 1.5rem;
  font-size: 400;
  font-weight: 600;
  
  
}

nav.navbar-light .navbar-nav .main-links:hover {
  color: sienna; 

}
.navbar-nav> img{
  border-radius: 8rem;
}




/* HOMEPAGE */
.center {
  margin-top: 9rem;
  
}
.questions .first{
  margin-top: -2rem;
}
.questions h5{
  color: darkcyan;
  padding: 1rem;
  font-size: x-large;
  

}
.questions{
  padding:5rem;
  background-color: linen;
  height: 600;
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.questions img{
  margin-top: -5rem;
  margin-bottom: -0.5rem;
  margin-left: 0.5rem;
}
.questions .row{
  margin-bottom: -4.5rem;
  margin-right: -1rem;
}
.questions .middle{
  text-align: center;
  margin-top: 0rem;
  font-size:larger;
  font-style: italic;
  font-weight: 500;
  color: #2B0707;
}
.questions .middle h2{
  color: firebrick;
}
.questions button{
  background-color: firebrick;
  color: white;
  font-size: larger;
}
.center>h1{
  
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'Segoe UI' ;
  font-weight: normal;
  font-style: italic;
  color: black;
}
.center .butts .mb-2 {
  width: 220px;
  height: 70px;
  border-radius: 6rem;
 

}
.butts{
  display: flex;
  justify-content: center;
  margin-bottom:4rem ;
}
.center .butts .one {
  background-color: red;
  border-color: red;
  
}
.center .butts .two {
  background-color:darkcyan;
  border-color: darkcyan;
}
p.or {
  text-align: center;
  font-weight: 600;
  margin-top: -3rem;
}

  .badges{
  margin-top: -7rem;
 
}
.badges .iconz{
  display:inline-flex;
  list-style: none;
  margin-left: 15.5rem;
  
}
.badges .iconz .list-item{
  padding-left: 3rem;
  
}
.badges .iconz .list-item :hover {
  
  color:sienna;
  text-decoration:none;
  line-height: 1rem;
  transition: 0.3s;
 
}
.badges .iconz .list-item .icon2{
  margin-left: 2rem;
  
}
.badges .iconz .list-item p{
 color: grey;
 font-weight: 600;
 padding-left: -0rem;
}
.badges .iconz .list-item .hang{
 
 padding-left: 1rem;
}
/* .home-icons{

} */
.home-icons .sign-icons {
  margin-top:-4rem;
  margin-left: 2.5rem;
  /* padding: 0rem; */
}
.home-icons .sign-icons .icon1{
  margin-left:26rem;
  margin-bottom: 2rem;
}
.home-icons .sign-icons .icon1 p{
  margin-left:-5rem;
  font-size: large;
  color: darkcyan;
  font-weight:600;
}
.home-icons .sign-icons .icon2{
  margin-left:-3rem;
  margin-top: 1rem;
}
.home-icons .sign-icons .icon2 p{
  margin-right:3rem;
  text-align: center;
  font-size: large;
  color: darkcyan;
  font-weight:600;
}
.home-icons .sign-icons .icon3 {
  margin-right:0rem;
  margin-top: 1rem;
}
.home-icons .sign-icons .icon3 p{
  margin-left:3rem;
  margin-bottom: 0rem;
  font-size: large;
  color: darkcyan;
  text-align: center;
  font-weight:600;
}
.home-icons .sign-icons .card-title>h1{
  font-weight: lighter;
  text-align: center;
  margin-left: 2rem;
  font-style: italic;
  font-size: 50px;
  color: firebrick;
}
.searchTitle{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0rem;
  font-weight: 500;
  color: black;
  padding-right:3.5rem;
  font-size: xx-large;
}
.homeline{
  border-color: sienna;
  border-width: 0.1rem;
}
 .card-img-top{
  height: 250px;
  width: 245px;
  
} 
.homecard .card{
  display :inline-flex;
  margin:1rem;
}

.card{
  height: 300px;
  width: 245px;

} 
.home-card .card-title {
  font-weight: 500;
  color: black;
  text-align: left;
  font-size: larger;
}
.home-card .card-text{
  font-weight: 400;
  color: darkcyan;
  font-size: small;
  text-align: right;
  margin-top:-2.1rem;

}

 .sign-icons{
  margin-top:10rem;
}
 .sign-icons .icon1{
  margin-left:40rem;
  margin-bottom: 2rem;
}
 .sign-icons .icon2{
  margin-left:20rem;
  margin-top: 2rem;
}
 .sign-icons .icon3{
  margin-right:15rem;
  margin-top: 2rem;
}
.card .card-textp{
  font-weight: 400;
  color: darkcyan;
  font-size: small;
  text-align: right;
  margin-top: -1.1rem;
}
.card .card-text> span{
  margin-bottom: auto;
}
.shine {
  margin-top:10rem;
  background: white;
  border-radius: 7rem;
 
}
.shinerow h1{
  color:green;
  text-align:center;
 
}
.shine .shinerow{
  margin-top:-1rem;
 
}
.shine .card-img{
  height: 440px;
  width:100%;
  opacity: 0.5;
  margin-top: -3rem;
  margin-left: -3rem;
  margin-bottom: -9rem;
  border-radius: 0rem;
  
}



.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: white;
    border-radius: .3rem;
    padding: 1rem 2rem;
  }
.shine p i{
  font-weight:500;
  color:gray;
}
.shine p {
  font-weight:400;
}
.shine h1{
  color:rgb(54, 52, 52);
}





/* LOGIN PAGE*/

.imgfield .logincard{
 
  height: 600px;
  width: 500px;
  margin-left: 50rem;
  margin-bottom: 2rem;
  border-width: 0.1rem;
  border-color: rgb(214, 209, 209);
  border-radius: 0.8rem;
 
}

.logincard .card-body>img{
  margin-left: 8rem;
  
}
.logincard .card-body>form{
  margin: 2rem;
  
}
.logincard .card-body>form .form-control{
  margin-top: 2rem;
  height: 70px;
  
}
.logincard .card-body>form>button{
  margin-top: 1rem;
  margin-left:7rem;
  height: 70px;
  width: 180px;
}
.logincard .card-body>p{
  text-align: center;

}
.logincard .card-body>p>span{
  color: red;

}

.second{
  margin-top: 4rem;
}
 



/* FOOTER */

footer{
  height: 285px;
  background-color: #2B0707;
  margin-top: 8rem;
  
}


.lane1{
  margin-top: 2rem;
  
}
.lane2{
  margin-top: 3rem;
}
.lane3{
  margin-top: 3rem;
}

.footimage{
  margin-bottom: 0.5rem;
}
.lane1>p{
  
  font-weight: 500;
  color:rgb(132, 124, 155);
  
}
 .lane1>p>span{
   color:rgb(232, 238, 247) ;
 }
 .lane1>p>span>b{
   color:orangered ;
 }
 
#copyright{
  color: rgb(188, 195, 204);
}


.lane2>ul>h1{
  font-size: 20px;
  color: rgb(188, 195, 204);
}
.lane2>ul>h1> b{
  color: orangered;
}
.lane2>ul>hr{
border-color: rgb(75, 73, 73);
}
.lane2>ul>a{
  color: rgb(132, 124, 155);
}
.lane3>h2{
  color:rgb(188, 195, 204);
  text-align:center;
  font-size:x-large;
  margin-left:0.5rem;
}
.lane3 .icons>span{
margin-left: 1rem; 
}
.lane3 .icons .action{
color: rgb(132, 124, 155); 
}
.lane3 .icons{
  display:flex;
  justify-content: center;
  margin-right:3rem;
}





/* SIGN UP PAGE*/

.sign> p{
  margin-top:10rem;
  text-align: center;
  margin-bottom: 3rem;
  font-size: larger;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.sign .card {
  margin-left:12rem;
  width: 750px;
  height: 900px;
  margin-top: 2rem;
}
.sign .card >img{
  margin-top: 1rem;
  margin-left: 18.5rem;
}
.sign .sideimg img{
  margin-top:;
  margin-left: -2rem;
}
.sign .card .card-title{
  color: rgb(51, 14, 14);
  margin-left: 3.1rem;
}
.sign .card .card-body>Form {
  margin-top: 2rem;
}
.sign .card .card-body>Form .form-control{

  border-radius: 0.7rem;
  height: 70px;
}
.sign .card .card-body>Form .form-control:hover{
  border-color: sienna;
}
.sign .card .card-body>Form .form-control::placeholder{
  font-style: italic;
}
.sign .card .card-body>Form .form-label{
  padding-top:1.5rem;
  font-weight: 600;
}
.signtext{
  font-style: italic;
  color: rgb(95, 94, 94);
  font-weight: 500;
}
.formbutt{
  height: 70px;
  width: 200px;
  float: right;
  
}
.signP{
  text-align: center;
  color: grey;
  font-size: larger;
  font-weight: 600;
  
}
.signrow{
  margin-top: 3rem;
}






/* SEARCH PAGE*/
.search{
  width: 100%;
  height: 370px;
  margin-top: 7rem;
  
}
.mainsearch .search{
  border-top-width: 0.8rem;
  background-color:#2B0707 ;
  border-top-color:sienna;
}
.searchcard .card{
  border-width: 0.0rem;
  border-radius: 1rem;
  border-color:rgb(126, 124, 123);
  

}
.searchcard .card .card-img-top{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0.1rem;
}
.search .card-body .searchimg>img{
  
  margin-top:-1.0rem;
  margin-left: 8rem;
  border-radius: 15rem;
  opacity: 0.5;
}
.search .card-body .card-text{
  font-size: xx-large;
  font-weight:900;
  padding-top: 9rem;
  color: grey;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.searchcard .card .searchbutt{
  margin-left:3rem ;
  background-color:orangered;
  color: white;
  border-radius: 0.5rem;
  border-color: sienna;
  border-width: 0.3px;
  
}

 .mainsearch .searchfield>Form{
  margin-top: 3rem;
}
 .mainsearch .searchfield>Form .form-control{
  height: 60px;
  border-color: sienna;
}
.resetbutt{
  margin-left: 1rem;
}

.searchline{
  margin-top: 3rem;
  border-width: 0.1rem;
  border-color: sienna;
}

.rowbadge{
  margin-top: 7rem;
  margin-bottom: -4rem;
  margin-left: 10rem;
  display: flex;
  justify-content: center;
}
.rowbadge .badge{
  font-size: medium;
  margin: 0.1rem;
  color: gray;
  
}




/* USER PROFILE PAGE */

.user .usercard{
  width: 100%;
  height: 480px;
  background-color:#fdf7fd ;
}
.user .usercard .card-body{
  margin-top: 1.5rem;
}
.user .usercard .card-title{
  color: ghostwhite;
  font-size: medium;
  margin-bottom: -1rem;
}
.user .usercard .card-title>span{
  color: gray;
  font-size:larger;
  font-style: italic;
  font-weight: 700;
  
}
.user .usercard .right{
  text-align: right;
}
.user .usercard .card-body .img-fluid{
  border-radius: 10rem;
}
Form .labels{
  color: gray;
  font-weight: 600;
}
Form .aboutlabels{
  color:black;
  font-weight: 600;
  
}
Form .rightlabels{
  color: black;
  font-weight:600;
}
.user .aboutrow{
  margin-top:3rem;
}
.user .aboutrow .form-control:hover{
  border-color: sienna;
}
.user .usercard .card-body .picbutt{
  border-radius: 0.5rem;
  background-color: orangered;
  border-width: 0rem;
  color: white;
  font-size: small;
  font-weight: 600;
  margin-left: 0.5rem;
  height: 30px;
  width: 100px;
}
.figure-caption{
  display: flex;
  justify-content: space-evenly;
  
}
.figure-caption>p{
  font-size:medium;
}
.userline{
  border-color: sienna;
  border-width: 0.1rem;
}
.sideline{
  border-color: sienna;
  border-width: 0.1rem;
  margin-top: 2.5rem;
  
}
.userbutt .update-butt{
  width:150px;
  height: 60px;
  background-color: darkcyan;
  border-width: 0rem;
  font-weight: 600;
  color: white;
  border-radius: 0.5rem;
}
.userbutt .del-butt{
  width:150px;
  height: 60px;
  background-color:orangered;
  border-width: 0rem;
  font-weight: 600;
  color: white;
  margin-left: 1rem;
  border-radius: 0.5rem;

}



/* ABOUT PAGE */

.aboutpage{
  background-color:white ;
}
/* .about-motto .card{
  width: 100%;
  height: 750px;
  background-image:url(/images/new-works.jpg) ;
  background-repeat:no-repeat;
  background-size:cover;
  margin-top:-0rem;
  margin-left:-0rem;
  
} */

.about-motto .card-title>h1{
  font-weight: medium;
  text-align: center;
  margin-top: 0rem;
  font-style: italic;
  font-size: 50px;
  color: rgb(92, 88, 88);
  /* margin-right: 2rem;
  padding: 2rem; */
}
/* .about-motto .card .card-body .logo-sign{
 margin-top:0rem;
 margin-left:0rem;
} */

.aboutUs{
  margin-top: 8rem;
}

.about-motto .sign-icons{
  margin-top:7rem;
  /* padding: 0rem; */
}
.about-motto .sign-icons .icon1{
  margin-left:41rem;
  margin-bottom: 2rem;
}
.about-motto .sign-icons .icon2{
  margin-left:0rem;
  margin-top: 1rem;
}
.about-motto .sign-icons .icon3{
  margin-right:0rem;
  margin-top: 1rem;
}
/* .about-motto .aboutUs .badge1{
  height: 100px;
  width: 200px;
  border-radius: 2rem;
  font-size: xx-large;
  font-style: italic;
  padding-top:4.5rem;
  padding-left: 25rem;
  padding-bottom: 3rem;
  margin-left:-1rem;
  margin-bottom: 1rem;
  margin-top: -1rem;
  color: white;
  background-color: black;
  opacity: 0.9;
  

} */
/* .about-motto .aboutUs .badge2{
  height: 100px;
  width: 200px;
  border-radius: 2rem;
  font-size: xx-large;
  font-style: italic;
  padding-top:2.5rem;
  margin-left:-1rem;
  margin-bottom: 3rem;
  margin-top: -3rem;
  color: white;
  background-color: black;
  opacity: 0.9;
  

} */

/* .about-motto .aboutUs .badge3{
  height: 100px;
  width: 200px;
  border-radius: 2rem;
  font-size: xx-large;
  font-style: italic;
  padding-top:2.5rem;
  margin-left:-1rem;
  margin-bottom: 3rem;
  margin-top: -1rem;
  color: white;
  background-color: black;
  opacity: 0.9;
  
} */
.aboutUs .about-row{
  background-color:black ;
  
}
.aboutUs .about-row .card-img{
  border-radius: 0rem;
  
  /* opacity: 0.5; */
}
.aboutUs .mission-row .card-img{
  border-radius: 40rem;
 
  /* opacity: 0.5; */
}
.aboutUs .vision-row .card-img{
  border-radius: 0rem;
  
  /* opacity: 0.5; */
}
.about-motto .aboutUs .mission-row{
  margin:10rem;
}
.about-motto .aboutUs .vision-row{
  margin-top:8rem;
}


.aboutUs  h2{
  color: firebrick;
  text-align: center;
  padding-top: 2rem;
}
.about-motto .aboutUs .aboutP{
  text-align: left;
  font-style: italic;
  font-size: larger;
  font-weight: 500;
  color: rgb(247, 245, 245);
  margin-top: 3rem;

}
.about-motto .aboutUs .aboutP .signlink{
  color: gray;

}
.about-motto .aboutUs .vision .signlink{
  color: gray;

}
.about-motto .aboutUs .mission{
  text-align: left;
  font-style: italic;
  font-size: larger;
  font-weight: 500;
  margin-top: 3rem;

}
.about-motto .aboutUs .vision{
  text-align: left;
  font-style: italic;
  font-size: larger;
  font-weight: 500;
  margin-top:5rem;
  color: rgb(0, 0, 0);

}
.aboutUs .comment{
  background-color: rgb(245, 241, 242);
  font-style: italic;
  font-size: x-large;
  font-weight: 00;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 2rem;
  margin-top: 10rem;
  margin-bottom: 14rem;
  color: sienna;

}
.aboutUs .comment .commenter{
  color: rgb(37, 36, 36);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.aboutUs .comment b{
  color: black;
  font-size: 30px
}
.aboutUs .signG{
  color: orangered;
}
.aboutUs .nakwa{
  color: green;
}

/* Contact Page */

.contact-content .card{
  background-color:#ffffff ;
  width:100%;
  height: 600px;
  border-top-width: 1rem;
  border-top-color: sienna;
  margin-top: 6.5rem;
}

.contact-content .card .contactforms .form-control{
  margin-top: 1rem;
}
.contact-content .card .card-body h1{
  color:grey;
}
.contact-content .card .card-body p{
  color:rgb(219, 107, 55);
  font-style: italic;
  font-size: medium;
 
}
.contact-content .card .card-body {
  margin-top: 2rem;
 
}
.contact-content .card .card-body .contactinfo .action{
  margin-top: 1rem;
}
.contact-content .card .card-body .contactinfo p{
  margin-top: 1.2rem;
  font-weight: 600;
  font-size: larger;
  color: rgb(49, 9, 8);
  font-style: normal;
}
.contact-content .copyrite{
  text-align: center;
  margin-top: 0.2rem;
}
.contact-content .copyrite span{
  font-weight:large;
}
.contact-content .copyrite span b{
  color:orangered;
}

/* PROFILE VIEW PAGE*/
.profile-view .main-card{
  height: 900px;
  width: 950px;
  margin-top:7rem;
  margin-left: 5rem;
  background-color: #ffffff;
  
}
.profile-view .profile-img{
  height: 800px;
  width: 500px;
  margin-left: 0.5rem;
  border: 2px solid sienna;
}
.profile-view .profile-img .card-img-top{
  height: 500px;
  width:496px;
  
  
}
.profile-view .profile-img .card-title{
  
  display:inline-flex;
  padding-left:8.5rem;
  color: orangered;
  width: 495px;
  margin-left: 0.0rem;
  
  
  
}
.profile-view .profile-img .about-text{
  background-color:rgb(243, 242, 242) ;
  color:black;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  margin-bottom: 2rem;
  text-align:center;
  height:222px;
  padding-top:2rem;
  font-size: large;

   
  
  
}
.profile-view .profile-img .card-title p{
  
  color: darkcyan;
  text-align:center;
  
}

.profile-view .profile-info{
  height: 800px;
  width: 370px;
  margin-right: 0rem;
  background-color:#fffdfd ;
}
 
.profile-view .main-info{
  padding-right: 10px;
  padding-left: 10px;
}

.profile-view .profile-info h5{
   text-align: center;
   font-size: x-large;
   font-weight: 800;
   color:sienna;
}

.profile-info .card-text{
  text-align:center;
}
.profile-view .profile-info .status{
   
   color:rgb(65, 60, 60);
   font-size:medium;
   
}
.title-line{
  border-width: 0.3rem;
  border-color:sienna;
}
.profile-view .profile-info .info .contact-info {
  margin-top: 0rem;
  margin-right: 5px;
}
.profile-view .profile-info .info h1{
  color:rgb(88, 82, 82);
  font-size:small;
  font-weight:medium;
  
}
.profile-view .profile-info .info p{
  color:black;
  font-size:large;
  padding:0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  
}
.profile-info .info p:hover{
  overflow:visible;
}
.profile-view .profile-info .info .serv{
  white-space: nowrap;
  height: 40px;
  border: 0.1px solid sienna;
  border-radius: 1rem;
  margin-bottom: 0.1rem;
  background-color: rgb(255, 255, 255);
  font-weight: 500;
  
  
}


.profile-view .profile-info .info{
  margin-left: 2rem;
}

.info .contact-info{
  margin-top:0rem;
}
.info .contact-info .serv2{
  margin-top:1.5rem;
  white-space: ;
  height: 48px;
  border: 1px solid rgb(212, 206, 206);
  background-color: rgb(253, 251, 251);
  border-radius: 1rem;
  display:inline-flex;
  font-weight: 500;
  
}
.info h6{
  margin-top:4rem;
  font-weight:600;
  color:silver;
}
.info .title-line{
  border-width: 0.2rem;
  border-color:sienna;
  margin-right:2rem;
}

.info .contact-info .serv2 .action{
  margin-top:0.5rem;
  color:gray;
}
